@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="col-md-offset-0 col-md-12">
    <div class="form-actions no-color">
        <div class="btn-group btn-group-vertical btn-lg">
            <a href="/Index" class="btn btn-default">Aloitussivu&raquo;</a>
            <a href="/Asiakkaat" class="btn btn-default">Asiakashallinta&raquo;</a>
            <a href="/Henkilokuntas" class="btn btn-default">Henkilokuntahallinta&raquo;</a>
            <a href="/Hoitaja" class="btn btn-default">Hoitajahallinta&raquo;</a>
            <a href="/Hoitopaikat" class="btn btn-default">Hoitopaikkahallinta&raquo;</a>
            <a href="/Kayttajat" class="btn btn-default">Käyttäjähallinta&raquo;</a>    
            <a href="/Osoitteet" class="btn btn-default">Osoitehallinta&raquo;</a>
            <a href="/Palvelut" class="btn btn-default">Palveluhallinta&raquo;</a>      
            <a href="/Puhelimet" class="btn btn-default">Puhelinhallinta&raquo;</a>
            <a href="/Toimipisteet" class="btn btn-default">Toimipistehallinta&raquo;</a>
            <a href="/Varaukset" class="btn btn-default">Varaustenhallinta&raquo;</a>
        </div>
    </div>
    </div>@*//<--navbar-2*@
